<nav class="navbar navbar-expand-lg navbar-custom-color">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>
      <a class="navbar-brand" routerLink="" >Панель навигации</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/main">Последние активные заказы</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" routerLink="">Все выполненные заказы</a>
        </div>
      </div>
    </div>
</nav>
