<!-- <nav class="navbar navbar-expand-lg navbar-custom-color">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>
      <a class="navbar-brand " routerLink="" >Панель навигации</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/main">Последние активные заказы</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/completedOrders">Все выполненные заказы</a>
        </div>
      </div>
    </div>
</nav> -->

<div class="container">
  <nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler"
        type="button"
        (click)="collapse.toggle()"
        aria-controls="main-nav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="
          navbar-toggler-icon
          d-flex
          align-items-center
          justify-content-center">
        </span>
      </button>
      <a class="navbar-brand" href="#">Bootstrap 5</a>
      <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/main">Последние активные заказы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/completedOrders">Все выполненные заказы</a>
          </li>
        </ul>
      </ngx-navbar-collapse>
    </div>
  </nav>
  
</div>
