<div *ngIf="isLoading; else loaded">
  <div class="container">
    <div class="alert alert-primary" role="alert">
      Загрузка...
    </div>
  </div>
</div>

<ng-template #loaded>
 <div *ngIf="!hasError; else error">
  <div class="container">
    <div class="list-group marBot">
      <a [routerLink]="[order.id]" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let order of orders | 
      paginate : { itemsPerPage: pageModel.pageSize,
                   currentPage: pageModel.currentPage,
                   totalItems: pageModel.totalLength }">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{order.nameOrder}}</h5>
              <small>{{order.visitDate | date:'EEEE, d MMMM, y, h:mm:ss': '0' :'ru'}}</small>
            </div>
            <h6 class="mb-1">Заказ №{{order.id}}</h6>
            <p>И немного мелкого шрифта.</p>
      </a>
  </div>
  </div>
 
<app-dropdown-page-size (onChanged)="onChanged($event)"></app-dropdown-page-size>
<div class="row gy-2 mar-minus">
  <div class="col-sm-8 col-md-12 msm-4 marTop">
    <app-dropdown-filter (onChangedFilter)="onChangedFilter($event)"></app-dropdown-filter>
  </div>
  <div class="col-sm-4 col-md-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <pagination-controls (pageChange)="pageModel.currentPage = $event"
        previousLabel="Предыдущая"
        nextLabel="Следующая" ></pagination-controls>
      </ul>
    </nav>
  </div>
</div>
 </div>
</ng-template>

<ng-template #error>
  <div class="container">
    <div class="alert alert-dark" role="alert">
      {{errorMessage}}
    </div>
  </div>
</ng-template>