<div class="d-inline-block btn-group dropup d-grid gap-2 mx-auto" ngbDropdown #myDrop="ngbDropdown">
    <button type="button" class="btn btn btn-outline-primary" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Количество заказов на странице</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button (click)="change(5)" ngbDropdownItem>5</button>
      <button (click)="change(10)" ngbDropdownItem>10</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>
