<div *ngIf="isLoading;else loaded">
    <div class="container">
        <div class="alert alert-primary" role="alert">
          Загрузка...
        </div>
      </div>
</div>
<ng-template #loaded>
    <div *ngIf="hasError == false;else error">
        {{order.id}}, {{order.lastName}},<h6 class="mb-1">Заказ №{{order.id}}</h6>
    </div>
</ng-template>
<ng-template #error>
    <div class="container">
        <div class="alert alert-dark" role="alert">
          {{errorMessage}}
        </div>
      </div>
</ng-template>