<div class="container">
    <form>
        <div class="form-group">
          <label class="mb-2" for="orderInput">Заказ</label>
          <input type="text" class="form-control" id="orderInput" aria-describedby="emailHelp" placeholder="Название заказа">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group mt-4">
          <label class="mb-2" for="nameInput">Имя</label>
          <input type="text" class="form-control" id="nameInput" placeholder="Имя">
        </div>
        <div class="form-group mt-4">
            <label class="mb-2" for="lastnameInput">Фамилия</label>
            <input type="text" class="form-control" id="lastnameInput" placeholder="Фамилия">
        </div>
        <div class="form-group mt-4">
            <label class="mb-2" for="shortDesc">Краткое Описание</label>
            <input type="text" class="form-control" id="shortDesc">
        </div>
        <div class="form-group mt-4">
            <label class="mb-2">Описание</label>
            <textarea class="form-control"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary mt-4">Добавить</button>
      </form>
</div>
