<div class="w-100 p-4 d-flex justify-content-center pb-4">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
    <div class="form-outline mb-4">
      <input type="text" id="username" class="form-control" [(ngModel)]="login.username" name="user" required/>
        <label class="form-label" for="username">Имя пользователя</label>
     </div>
    <div class="form-outline mb-4">
      <input type="password" id="password" [(ngModel)]="login.password" class="form-control" required name="pass"/>
       <label class="form-label" for="pass">Пароль</label>
    </div>
     <!-- Submit button -->
     <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
  </form>
</div>
<div class="container">
  <div *ngIf="invalidLogin" class="alert alert-danger w-100 p-4 d-flex justify-content-center pb-4">
    {{error}}
  </div>
</div>
