<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom-color">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
              </button>
          <a class="navbar-brand" href="#">Панель навигации</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Последние активные заказы</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Все выполненные заказы</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Выпадающая форма
        </button>
        <form class="dropdown-menu p-4">
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">Фамилия</label>
            <input class="form-control" id="exampleDropdownFormEmail2" placeholder="Фамилия...">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormPassword2" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck2">
              <label class="form-check-label" for="dropdownCheck2">
                Запомнить меня
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Войти</button>
        </form>
      </div>
      <app-order-list></app-order-list>
      <div class="btn-group dropup d-grid gap-2 mx-auto">
        <button class="btn btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Количество заказов на странице
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item active" href="#">5</a></li>
          <li><a class="dropdown-item" href="#">10</a></li>
        </ul>
    </div>    
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Следующая</a>
          </li>
        </ul>
      </nav>
      <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <span class="text-muted">Bolshakov inc.</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>