<app-order-list></app-order-list>
<div class="btn-group dropup d-grid gap-2 mx-auto">
    <button class="btn btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Количество заказов на странице
    </button>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item active" href="#">5</a></li>
      <li><a class="dropdown-item" href="#">10</a></li>
    </ul>
</div>


<div class="row">
  <div class="col-sm-8">
    <app-dropdown-filter></app-dropdown-filter>
  </div>
  <div class="col-sm-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end"> 
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Следующая</a>
        </li>
      </ul>
    </nav>
  </div>
  
</div>




  
  <footer class="footer navbar-fixed-bottom">
    <div class="container">
        <span class="text-muted">Bolshakov inc.</span>
    </div>
</footer>
